
     
        body{
            font-family: 'Roboto Condensed', sans-serif;
            background-image:linear-gradient(rgba(252, 249, 249, 0.84),rgba(0, 0, 203, 0.85)), url(shinu.jpg);
            background-size: cover;
            height: 100vh;
        }
    
     .box{
         border: 4px solid #ff004e;
         margin-top: -20px;
         padding: 1-px;;
         margin-right:20px;
         margin-left: 20px;
         padding-bottom: 20px;
         border: 4px solid transparent;
         border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f,#0f0);
         border-image-slice: 1;
         box-shadow: 0px 15px 25px rgba(0, 0,0, .6);
     }
     
        .box-img img{
                margin-top: 100px;
                border-radius: 2%;
            
        }
     
     
        
        .box .content h3{
            font-size: 800;
            margin-bottom: 5px;
        }
     
     
        .box .content .sub-title{
           color: rgba(244,67,54,0.7);
            letter-spacing: 2px;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 20px;
        
        }
     
     
        .box-content .info li{
            width: 48%;
            display: inline-block;
            margin-bottom: 15px;
            margin-left: -35px;
            
        }
     
        .box .featued-box{
            position: relative;
            padding-left: 70px;
            margin: 10px 0;
            
        }
        
         .box .featued-box i{
             font-size: 28px;
             position: absolute;
             left: 0;
             width: 50px;
             height: 50px;
             text-align: center;
             border-radius: 4px;
             line-height: 50px;
             color: white;
             background: #343434;
          
        }
        
        .box .featued-box h5{
            color: #343434;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 0 0 10px;
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        
     
        .social-icon .fa{
            background: #ff004e;
            color: white;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-top: 0px;
            border-image: 50px;
        }
        
        .btn{
            padding: 15px 50px;
            border: 0;
            margin-top: 0px;
            background-color: #ff004e;
            border: 0;
            border-radius: 50px;
        }
        
        
        
        
        